Django==5.0.6
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-ratelimit==4.1.0
django-filter==24.2
django-cors-headers==4.3.1
mysqlclient==2.2.4
redis==5.0.4
django-redis==5.4.0
celery==5.4.0
python-decouple==3.8
Pillow==10.3.0
pytest==8.2.0
pytest-django==4.8.0
pytest-cov==5.0.0
factory-boy==3.3.0
locust==2.29.1
